	/* GLOBAL STYLES */

	/* ARCHIVE STYLES */
.post h3 {
	font-size:40px;
}
.post p {
	font-size:22px;
}

	/* ARTICLE STYLES */
#post h3 {
	font-size:50px;
}
#post h4 {
	font-size:22px;
}
#post p {
	font-size:25px;
}

.inlineImg h5 {
	font-size:28px;
}
	
	/* PROJECT STYLES */
.narrow h5, .wide h5 {
	font-size: 24pt;
}
.wide p {
	font-size: 14pt;
}

@media only screen and (max-width:359px) {
	h1 {
		font-size:45px;
	}
}

@media only screen and (max-width:575px) and (min-width:360px) {
	h1 {
		font-size:55px;
	}

	#nav li {
		font-size:20px;
	}
	
	.about h2, .controls h2 {
		font-size:28px;
	}
	.about p {
		font-size:20px;
	}
}

@media only screen and (min-width:576px) {
	h1 {
		font-size:80px;
	}

	#nav li {
		font-size:25px;
	}
	
	.about h2, .controls h2 {
		font-size:28px;
	}
	.about p {
		font-size:20px;
	}
}
