	/* GLOBAL STYLES */
body {
	background:#333;
}

	/* MD-EDITOR STYLES */
h1, .CodeMirror-code {
	color:#f7f7f7;
}
.editor-toolbar * {
	filter: invert(100%);
}

	/* INDEX STYLES */
.sublist h2 {
	margin-top:0px;
	margin-bottom:0px;
	color:#eee;
}

	/* ARCHIVE STYLES */
.post {
	color:#b7b7b7;
}
.post:hover {
	color:#eee;
}
	
	/* ARTICLE STYLES */
#post {
	color:#eee;
}
#post a {
	color:#eee;
	text-decoration:none;
	border-bottom:1px solid #eee;
	transition:0.3s ease;
}
#post a:hover {
	border-bottom:4px solid #eee;
}

	/* PROJECT STYLES */
.narrow {
	background: #555;
}
.wide {
	background: #888;
}
.narrow, .wide {
	color:#f7f7f7;
}

.project:hover {
    background: #888;
}
.project .icon img {
	border: #eee 2px solid;
}
.link img {
	filter: invert(100%);
}

@media only screen and (max-width:359px) {
	h2, p {
		color:#f7f7f7;
	}
}

@media only screen and (min-width:360px) {
	#nav {
		background:#555;
	}
	#nav button {
		color:#f7f7f7;
		background:#555;
	}
	#nav button:not(#settings):hover {
		background:#888;
	}
	#nav #settings {
		filter:invert(100%);
		background: #aaa;
	}
	#nav #settings:hover {
		background: #777;
	}

	.about, .controls {
		border:#ddd 1px dashed;
		color:#bbb;
	}
	.profileImg {
		border:#ddd 2px solid;
	}

	#footer {
		background:rgba(0,0,0,0);
	}
	.links {
		border:solid #f7f7f7;
		border-width:2px 0px 0px 0px;
	}
	.links h6 {
		color:#f7f7f7;
	}
	.links a {
		color:#f7f7f7;
		border-bottom:1px solid #f7f7f7;
		transition:0.3s ease;
	}
	.links a:hover {
		border-bottom:4px solid #f7f7f7;
	}
	.section:not(:first-child) {
		border:solid #f7f7f7;
		border-width:0px 0px 0px 2px;
	}
}
